* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    max-width: 513px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    padding: 10px 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 4px 0 100px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: space-between;
    color: white;
    /* border: 1px solid black; */
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.app-name,
.search {
    font-size: 1.2em;
    cursor: pointer;
    user-select: none;
}

.display {
    text-align: right;
    padding: 10px 50px;
    box-shadow: 4px 0 100px 0 rgba(0, 0, 0, 0.2);
    font-family: monospace;
    font-size: 24px;
    overflow: hidden;
    user-select: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-collapse: collapse;
}

.button-container {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-top: 1px solid rgb(121, 38, 199);
}

.button-item {
    cursor: pointer;
    padding: 20px 45px;
    border-radius: 10px;
    transition: 0.3s;
    user-select: none;
}

.button-item:hover {
    background-color: rgb(107, 33, 176);
}

.copyright {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    color: slateblue;
    padding: 8px 20px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    top: 16.5%;
    left: 5%;
    border: 1px solid slateblue;
}

.history {
    /* display: none; */
    background-color: white;
    border-radius: 5px;
    color: slateblue;
    padding: 8px 20px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    position: absolute;
    top: 20.3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 1px solid slateblue;
    border-collapse: collapse;
}

@media screen and (max-width: 513px) {
    .button-item {
        padding: 10px 25px;
    }

    .history {
        /* display: none; */
        padding: 4px 20px;
        max-width: 256px;
        top: 24%;
        font-size: small;
    }
}

@media screen and (max-width: 320px) {
    .button-item {
        padding: 10px 20px;
    }

    .button-item {
        margin: 0;
    }

}